* {
  margin: 0;
  padding: 0;
}

.logo {
  color: blue;
}

nav {
  display: flex;
  justify-content:space-around;
}

.Vitaliy {
   display: flex;
  list-style: none;
  gap: 20px;
}

header {
  padding: 30px;
}

.logo2 {
  
  margin: 50px;
}

.text {        
  max-width: 500px;
}

.gg {

  margin: 30px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column: 2;
  background-color: mediumslateblue;
}

.logo3 {
  margin: 20px;
  grid-column: 2/3;
  text-align: center;
  text-transform: inherit;
  height: 10px;
}


.Klychko {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-column: 2;
  /* grid-template-rows: 1fr 1fr; */
  gap: 50px;
}

.box {
  grid-column: 1/2;
  grid-row: 2/3;
}

.polityka {
  grid-column: 2/3;
  grid-row: 2/3;
}

.ambiciji {
  grid-column: 3/4;
  grid-row: 2/3;
}

.ne {
  padding: 25px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 0 5px 0 black;
  
}

.nazva {
  display: flex;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.pidval {
  padding: 70px;
  background-color: blue;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.nfc {
  color: white;
  text-align: center;
  grid-column: 2;
}

.text2{
  color: white;
  margin: 15px;
  display: flex;
  text-align: center;
  grid-column: 2;
  justify-content: space-around;
}

.ikonki {
  color: white;
  display: flex;
  text-align: center;
  grid-column: 2;
  margin: 0 auto;
  padding: 16px;
  flex-direction: row;
  
}

.ikonki ol {
  padding: 10px;
}   

.Nyz {

  color: rgba(255, 255, 255, 0.5);
  display: flex; 
  grid-column: 2; 
  padding: 16px;
  flex-direction: row;
  justify-content: space-around;
}

.ikonki a {
  color: white;
}

.ikonki a:hover {
  color: blue;
}

.proekty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 251, 24, 0.237);
}
.block{
  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 20px;
}
.kl{
  background-color: rgba(207, 215, 222, 0.403);
  padding: 20px;
}
.block img{
  height: 300px;
}

header {
  background-color: rgba(25, 220, 106, 0.786);
}

body {
  background-color: rgb(64, 115, 217);
}

.cl {
  margin: 50px;
}

@media (max-width: 1000px) {
    body {
        font-size: 0.9em;
    }

    header h1 {
        font-size: 1.5rem;
    }

    footer p {
        font-size: 0.8em;
    }

    nav{
      flex-direction: column;
    }

    .Vitaliy {
      flex-direction: column;
    }

    .text {
      max-width: 200px;
    }

    .Klychko {
      display: block;
    } 
    
    .gg{ 
      flex-direction: column;
      width: 250px;

    }

    .gg img {
      width: 100%;
    }

    .block {
      flex-direction: column;
    }
}

